@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
  --main-color: #027581;
  --color-dark: #1d2231;
  --color-gray: #8390a2;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

html {
  background: #ebecee;
}

#sidebar-toggle {
  display: none;
}

.sidebar {
  height: 100%;
  width: 255px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background: white;
  color: black;
  overflow-y: auto;
  transition: width 500ms;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0rem 1rem;
  background: white;
}

.sidebar-menu {
  padding: 1rem;
}

.sidebar li {
  margin-bottom: 0.75rem;
}

.sidebar a {
  color: black;
  font-size: 0.8rem;
}

.sidebar a span:last-child {
  padding-left: 0.6rem;
}

#sidebar-toggle:checked ~ .sidebar {
  width: 60px;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
#sidebar-toggle:checked ~ .sidebar li span:last-child,
#sidebar-toggle:checked ~ .sidebar li input,
#sidebar-toggle:checked ~ .sidebar li img,
#sidebar-toggle:checked ~ .sidebar li p,
#sidebar-toggle:checked ~ .sidebar li h1 {
  display: none;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header,
#sidebar-toggle:checked ~ .sidebar li {
  display: flex;
  justify-content: center;
}

#sidebar-toggle:checked ~ .main-content {
  margin-left: 60px;
}

#sidebar-toggle:checked ~ .main-content header {
  left: 60px;
  width: calc(100% - 60px);
}

.sidebar-text-sm {
  font-size: 0.85rem;
  font-weight: 500;
}

.sidebar-city-img {
  width: 200px;
  height: 100px;
  border-radius: 1rem;
  opacity: 75%;
}

.sidebar-city-text {
  position: absolute;
  color: black;
  font-weight: bold;
  margin: 1rem;
}

.main-content {
  position: relative;
  margin-left: 240px;
  transition: margin-left 500ms;
}

header {
  position: fixed;
  left: 255px;
  top: 0;
  z-index: 100;
  width: calc(100% - 240px);
  background: #f1f5f9bb;
  height: 60px;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: left 500ms;
}

.profile-img {
  width: 35px;
  height: 33px;
  border-radius: 1rem;
  margin: 1rem;
}

.centigrade-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid black;
  width: 35px;
  height: 30px;
  border-radius: 1rem;
  margin: 1rem;
  background-color: black;
  color: white;
}

.farenheit-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid black;
  width: 35px;
  height: 30px;
  border-radius: 1rem;
  margin: 1rem;
  background-color: white;
}

.profile-icon-text {
  margin: 0 0 0 5px !important;
  padding: 0 !important;
  font-weight: bold;
}

.content-wrapper {
  display: flex;
  align-items: center;
}

.content-header-today {
  color: gray;
  margin: 1.5rem;
}

.content-header-week {
  color: black;
  border-bottom: 2px solid black;
}

.search-wrapper {
  display: flex;
  align-items: center;
}

.input-search {
  border: 0;
  outline: 0;
  padding: 1rem;
  height: 50px;
}

.search-wrapper input {
  border: 0;
  outline: 0;
  padding: 1rem;
  height: 38px;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons span,
.social-icons div {
  margin-left: 1.2rem;
}

.social-icons div {
  height: 38px;
  width: 38px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(img/1.jpg);
  border-radius: 50%;
}

main {
  margin-top: 60px;
  background: #f1f5f9bb;
  min-height: 90vh;
  padding: 1rem 3rem;
}

.dash-title {
  color: var(--color-dark);
  margin-bottom: 1rem;
}

.dash-cards {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 0.1rem;
}

.card-highlights {
  height: 15rem;
  width: 20rem;
  background: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-bottom: 1rem;
}

.card-single {
  background: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-bottom: 1rem;
  width: 8rem;
  height: 8rem;
}

.card-header {
  padding: 1rem 1rem;
  text-align: left;
}

.card-body {
  padding: 1rem 1rem;
  text-align: center;
}

.card-header h5 {
  color: var(--color-gray);
  font-size: 1rem;
}

.card-body h5 {
  color: var(--color-gray);
  font-size: 1rem;
}

.card-body img {
  width: 45px;
}

.card-body h4 {
  color: var(--color-dark);
  font-size: 1.1rem;
}

.card-footer {
  padding: 0.2rem 1rem;
  background: #f9fafc;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.card-footer a {
  color: var(--main-color);
}

.recent {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.activity-header {
  margin-bottom: 1rem;
}

.activity-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
}

.activity-card h3 {
  color: var(--color-gray);
  margin: 1rem;
}

th,
td {
  font-size: 0.9rem;
  padding: 1rem 1rem;
  color: var(--color-dark);
}

td {
  font-size: 0.8rem;
}

tbody tr:nth-child(even) {
  background: #f9fafc;
}

.badge {
  padding: 0.2rem 1rem;
  border-radius: 20px;
  font-weight: 700;
  font-size: 0.7rem;
}

.badge.success {
  background: #def7ec;
  color: var(--main-color);
}

.badge.warning {
  background: #f0f6b2;
  color: orange;
}

.text-center {
  text-align: center;
}

.text-center button {
  background: var(--main-color);
  color: #fff;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  padding: 0.4rem 1rem;
}

.sidebar-weather-text {
  font-size: 5em;
  font-weight: 200;
}

.sidebar-weather-text .centigrade-letter {
  font-size: 0.5em;
}

.text-center {
  text-align: center;
}

.text-gray {
  color: var(--color-gray);
}

@media only screen and (max-width: 1200px) {
  #sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
  #sidebar-toggle:checked ~ .sidebar li span:last-child,
  #sidebar-toggle:checked ~ .sidebar li input,
  #sidebar-toggle:checked ~ .sidebar li img,
  #sidebar-toggle:checked ~ .sidebar li p,
  #sidebar-toggle:checked ~ .sidebar li h1 {
    display: unset;
  }

  #sidebar-toggle:not(:checked) ~ .sidebar .sidebar-header h3 span,
  #sidebar-toggle:not(:checked) ~ .sidebar li span:last-child,
  #sidebar-toggle:not(:checked) ~ .sidebar li input,
  #sidebar-toggle:not(:checked) ~ .sidebar li img,
  #sidebar-toggle:not(:checked) ~ .sidebar li p,
  #sidebar-toggle:not(:checked) ~ .sidebar li h1 {
    display: none;
  }
  
  .sidebar {
    width: 60px;
    z-index: 150;
  }

  .sidebar .sidebar-header h3 span,
  .sidebar li span:last-child {
    display: none;
  }

  .sidebar .sidebar-header,
  .sidebar li {
    display: flex;
    justify-content: center;
  }

  .main-content {
    margin-left: 60px;
  }

  .main-content header {
    left: 60px;
    width: calc(100% - 60px);
  }

  #sidebar-toggle:checked ~ .sidebar {
    width: 240px;
  }

  #sidebar-toggle:not(:checked) ~ .sidebar li input {
    display: none;
  }

  #sidebar-toggle:checked ~ .sidebar .sidebar-header {
    display: flex;
    justify-content: space-between;
  }

  #sidebar-toggle:checked ~ .sidebar li {
    display: block;
  }

  #sidebar-toggle:checked ~ .main-content {
    margin-left: 60px;
  }

  #sidebar-toggle:checked ~ .main-content header {
    left: 60px;
  }
}

@media only screen and (max-width: 860px) {
  #sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
  #sidebar-toggle:checked ~ .sidebar li span:last-child,
  #sidebar-toggle:checked ~ .sidebar li input,
  #sidebar-toggle:checked ~ .sidebar li img,
  #sidebar-toggle:checked ~ .sidebar li p,
  #sidebar-toggle:checked ~ .sidebar li h1 {
    display: unset;
  }

  #sidebar-toggle:not(:checked) ~ .sidebar .sidebar-header h3 span,
  #sidebar-toggle:not(:checked) ~ .sidebar li span:last-child,
  #sidebar-toggle:not(:checked) ~ .sidebar li input,
  #sidebar-toggle:not(:checked) ~ .sidebar li img,
  #sidebar-toggle:not(:checked) ~ .sidebar li p,
  #sidebar-toggle:not(:checked) ~ .sidebar li h1 {
    display: none;
  }

  .dash-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-single {
    margin-bottom: 1rem;
  }

  .activity-grid {
    display: block;
  }

  .summary {
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  #sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
  #sidebar-toggle:checked ~ .sidebar li span:last-child,
  #sidebar-toggle:checked ~ .sidebar li input,
  #sidebar-toggle:checked ~ .sidebar li img,
  #sidebar-toggle:checked ~ .sidebar li p,
  #sidebar-toggle:checked ~ .sidebar li h1 {
    display: unset;
  }

  #sidebar-toggle:not(:checked) ~ .sidebar .sidebar-header h3 span,
  #sidebar-toggle:not(:checked) ~ .sidebar li span:last-child,
  #sidebar-toggle:not(:checked) ~ .sidebar li input,
  #sidebar-toggle:not(:checked) ~ .sidebar li img,
  #sidebar-toggle:not(:checked) ~ .sidebar li p,
  #sidebar-toggle:not(:checked) ~ .sidebar li h1 {
    display: none;
  }

  .dash-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 450px) {
  main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
